.img {
  position: relative;
  width: 26px;
  height: 26px;
  background-image: url(/src/images/minesweeper-sprites_9TPZzv3.png);
  background-position: -28px -24px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-grow: 1;
}
